html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header, footer {
    color: white;
    background-color: #2f0f8f;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    flex: 1;
}

.justified {
    text-align: justify;
}

#code {
    font-family: 'Consolas', sans-serif;
}

.hidden {
    display: none;
}

.disabled {
    cursor: default !important;
}
